@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
all;

body::-webkit-scrollbar {
  display: none;
}

:root {
  --main-color: #ff7b00ea;
  --title-color: #222;
  --subtitle-color: #8d8d8d;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: rgb(58, 57, 57);
  z-index: 1000;
  background: #ffffffeb;
  box-shadow: 0 4px 8px #fff;
}

.container {
  display: flex;
  z-index: 1;
  position: relative;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 0 20px;
  margin: 5px 8%;
}

.logo img {
  position: inherit;
  max-height: 40px;
  width: 120px;
}

.menu-toggle {
  color: #333;
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  margin: 5px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline;
  margin-left: 20px;
}

ul li:first-child {
  margin-left: 0;
}

ul li a {
  color: rgb(81, 80, 80);
  font-size: 20px;
  text-decoration: none;
}
ul li a:hover {
  color: rgb(231, 6, 6);
  transition: 1s;
}

/* Hero section */

.hero-section {
  z-index: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10%;
  /* background-color: #f0f0f0; */
}

.left-container {
  flex: 1;
}

.right-container {
  z-index: -1;
  flex: 1;
  display: none;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2.6em;
  margin-bottom: 15px;
  color: rgb(213, 25, 25);
}
.main-title {
  font-size: 2em;
  padding-bottom: 20px;
}

.sec-cont {
  margin-top: 70px;
}
p {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 20px;
}

.highlight {
  color: #3498db;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #2980b9;
}

img {
  z-index: 0;
  margin-inline: auto;
  max-width: 100%;
  height: 80%;
  display: block;
}

.social-icons {
  width: full;

  display: flex;
  justify-content: first baseline;
  align-items: start;
  gap: 20px;
}

.social-icons i {
  font-size: 1.7em;
  color: #0077b5;
  transition: color 0.3s ease-in-out;
}

.social-icons i:hover {
  color: #06446d;
}

/* Swiper css */
.swiper {
  overflow-x: scroll;
  width: 100%;
  height: 100%;
}
.animate {
  animation: moveLeftRight 10s linear infinite;
}
.swiper-slide {
  font-size: 18px;
  display: flex;
  padding-inline: 1px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.swiper-slide .work-img-cont {
  position: relative;
  width: 98%;
  height: 200px;
}
.swiper-slide .work-img-cont img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-overlay {
  position: absolute;
  margin-left: 20px;
  border-radius: 10px;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.99);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.inner-overlay {
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-overlay .tool {
  padding-left: 10px;
  color: darkorange;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}
.image-overlay i {
  color: rgb(5, 170, 85);
  padding-top: 5px;
}

.work-img-cont:hover .image-overlay {
  opacity: 1;
  transform: scale(1.12);
  border: 1px solid #8d8d8d;
  transition-duration: 1.5s;
}
.work-img-cont:hover img {
  transform: scale(1.12);
  transition: ease-in-out 1s all;
}
.work-img-cont p {
  font-size: smaller;
  color: #555;
}
.contact-section {
  margin-top: 200px;
}
.contact-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 2%;
  transition: 1s;
}

.contact-container {
  flex: 1;
  margin-left: 20%;
  background-color: #fff;
  width: 140%;
  height: 100%;
}

.image-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  height: 500px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.contact-info {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.contact-info i {
  margin-right: 20px;
  font-size: 28px;
  color: #0077b5;
}
.contact-info span {
  font-size: 24px;
  color: #504e4e;
}

/* Skills */
.skills-over-cont {
  margin-top: 160px;
  padding-inline: 10%;
}
.skills-container {
  margin-top: -30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill {
  text-align: center;
  margin-inline: 10px;
  flex-basis: calc(25% - 20px);
}

.skill img {
  margin-top: 50px;
  cursor: pointer;
  margin-inline: auto;
  text-align: center;
  width: 100px;
  height: 100px;
  transition: transform 1s ease-in-out;
}
.skill img:hover {
  transform: scale(1.2) rotate(90deg);
  transition: transform 2s ease-in-out;
}
.skill i {
  margin-top: 50px;
  cursor: pointer;
  font-size: 100px;
  color: #0077b5;
  transition: transform 1s ease-in-out;
}
.skill i:hover {
  transform: scale(1.2) rotate(90deg);
  transition: transform 2s ease-in-out;
}

.skill span {
  font-weight: bold;
  font-size: large;
  color: chocolate;
  display: block;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .skill {
    flex-basis: calc(50% - 20px); /* Two columns for medium devices */
  }
}

@media (max-width: 480px) {
  .skill {
    flex-basis: calc(100% - 20px); /* One column for small devices */
  }
}

@media (max-width: 768px) {
  .image-container {
    display: none;
  }
}

/* Responsiveness for smaller devices */

@media screen and (max-width: 768px) {
  body {
    transition: 1s;
  }
  .hero-section {
    padding-top: 50px;
    margin: 10px 2%;
    transition: 1s;
  }
  #about {
    margin: 10px 2%;
  }

  .menu-toggle {
    display: block;
  }

  ul {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    right: 5px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
  }

  ul.active {
    display: block;
  }

  ul li {
    display: block;
    margin-left: 0;
    margin-bottom: 10px;
  }

  ul li a {
    color: rgb(204, 204, 204);
    font-size: 20px;
    text-decoration: none;
  }

  .container {
    padding: 0 20px;
  }
}

.bar {
  background-color: #504e4e;
}

#about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .title {
    font-size: 3.1em;
    margin-top: -50px;
  }
  img {
    margin-left: 20px;
  }
  .right-container {
    display: block;
  }
}
